<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>ClinicPet</display-name>


	<description>
        This is a simple web application with a source code organization
        based on the recommendations of the Applications Developer's Guide
    </description>

    <servlet>
        <servlet-name>ClinicViewServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.ClinicViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClinicViewServlet</servlet-name>
        <url-pattern>/clinic/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientViewServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.client.ClientViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientViewServlet</servlet-name>
        <url-pattern>/clinic/client</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddClientServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.client.AddClientServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddClientServlet</servlet-name>
        <url-pattern>/clinic/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPetServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.pet.AddPetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddPetServlet</servlet-name>
        <url-pattern>/clinic/addpet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.client.DeleteClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/clinic/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePetServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.pet.DeletePetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeletePetServlet</servlet-name>
        <url-pattern>/clinic/delpet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditClientServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.client.EditClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditClientServlet</servlet-name>
        <url-pattern>/clinic/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditPetServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.pet.EditPetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditPetServlet</servlet-name>
        <url-pattern>/clinic/editpet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchClientServlet</servlet-name>
        <servlet-class>org.petclinic.servlets.client.SearchClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchClientServlet</servlet-name>
        <url-pattern>/clinic/search</url-pattern>
    </servlet-mapping>
</web-app>