.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

#header {
    background: rgba(255, 190, 0, 0.32);
    margin: 0 0 10px 0;
}
.segment {
    margin: 0 0 10px 0;
    padding: 20px;
    background: rgba(255, 190, 0, 0.32);
}

a {
    text-decoration: none;
    color: black;
}

.top {
    margin-left: 5%;
}

body {
    background-image: url(../images/background.jpg);
    margin: 0;
}

.logo a {
    display: inline-block;
    padding: 20px 0 0 0;
    height: 50px;
    width: 70px;
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/label.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container .logo span {
    display: inline-block;
    position: absolute;
    font: 36px "Impact";
    margin: 10px 160px;
    color: black;
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
}

.container span {
    display: inline-block;
    position: relative;
    margin: 4px 0;
}

.element {
    display: inline-block;
}
.message {
    display: block;
    margin: 10px 10px;
    color: red;
    font: 18px "Arial";
}

.element-block {
    display: block;
    align-content: center;
    margin: inherit;
}

.button {
    display: inline-block;
    border: 1px solid black;
    position: relative;
    padding: 4px;
    margin: 10px 0 0 0;
    background: rgba(255, 190, 0, 0.32);
}

.button:hover {
    background: rgba(255, 190, 0, 0.65);
}